*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculator{
    width: 400px;
    height: 600px;
    background-color: black;
    border-radius: 50px;
}

button{
    padding: 29px;
    font-size: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #413f3f;
    color: white;
}

.buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button:hover{
    background-color: #413f3f;
}